:root {
    --dark: #247881;
    --medium: #43919B;
    --light: #30AADD;
    --accent: #00FFC6;
    --margin-padding: 40px;
}

.body {

}


.header {
    background-color: var(--medium);
    min-height: 150px;
    font-size: 400%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    background-color: var(--dark);
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 200%;
}

.nav a {
    margin: 5px;
    padding: 5px;
    border: solid 5px var(--accent);
    flex: 1 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--medium);
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.panel {
    display: none;
    transition: flex-basis 500ms linear;
    background-color: var(--accent);
}

.content {
    flex: 1 0 0;
    max-width: 100%;
    transition: flex-basis 500ms linear;
}

.about-me {
    min-height: 300px;
    margin: var(--margin-padding);
    padding: var(--margin-padding);
    border: solid var(--light) 5px;
    background-image: url(../images/water-1.jpg);
    background-size: 100%;

}

.about-me p {
    font-size: 125%;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.about-me:hover {
    box-shadow: inset 0px 0px 8px var(--accent), 0 0 15px var(--accent);

}

.project-top {
    min-height: 300px;
    margin: var(--margin-padding);
    padding: var(--margin-padding);
    border: solid var(--light) 5px;
    background-image: url("../images/coding-photo-1.jpg");
    background-size: 100%;
}

.project-top:hover {
    box-shadow: inset 0px 0px 8px var(--accent), 0 0 15px var(--accent);
}

.container {
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: var(--margin-padding);
    padding: 20px;
    border: solid var(--light) 5px;
    min-height: fit-content;
    align-content: center;
    justify-content: center;
    background-color: var(--medium);
}

.container:hover {
    box-shadow: inset 0px 0px 8px var(--accent), 0 0 15px var(--accent);
}

.project {
    flex: 1 0 100%;
    transition: flex-basis 500ms linear;
    margin: 20px;
    border: solid var(--light) 5px;
    min-height: 200px;
    min-width: 45%;
    
}

.project:hover {
    box-shadow: inset 0px 0px 8px var(--accent), 0 0 15px var(--accent);
}

.contact {
    min-height: 300px;
    margin: var(--margin-padding);
    padding: var(--margin-padding);
    border: solid var(--light) 5px;
    background-image: url("../images/mail-photo-1.jpg");
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contact:hover {
    box-shadow: inset 0px 0px 8px var(--accent), 0 0 15px var(--accent);
}

.contact a {
    margin: 5px;
    padding: 5px;
    border: solid 5px var(--accent);
    flex: 1 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 200%;
    background-color: var(--medium);
}

.footer {
    background-color: var(--medium);
    min-height: 100px;
}

#title {
    border: var(--accent) solid 5px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;

}

#sub-title {
    max-width: 300px;
    min-height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: var(--dark);
    color: white;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#portrait {
    max-width: 200px;
    max-height: 200px;
    border: solid 5px var(--light);
    outline: solid 10px var(--medium);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#project-1 {
    background-image: url("../images/coding-photo-2.jpg");
    background-size: 100%;
}

#project-2 {
    background-image: url("../images/coding-photo-3.jpg");
    background-size: 100%;
}

#project-3 {
    background-image: url("../images/coding-photo-4.jpg");
    background-size: 100%;
}

#project-4 {
    background-image: url("../images/coding-photo-5.jpg");
    background-size: 100%;
}

#transparent-link {
    position: absolute;
    min-width: 400px;
    min-height: 200px;
}

#transparent-link-small {
    position: absolute;
    min-width: 500px;
    min-height: 125px;
}

@media screen and (min-width: 768px) {
    .about-me p {
        font-size: 125%;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .project {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .nav a {
        flex: 0 0 40%;
        max-width: 40%;
    }

    .contact a {
        flex: 0 0 15%;
        max-width: 15%;
    }

    #transparent-link {
        position: absolute;
        min-width: 800px;
        min-height: 200px;
    }
}

@media screen and (min-width: 992px) {
    .panel {
        display: flex;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .about-me p {
        font-size: 125%;
        margin-left: 80px;
        margin-right: 80px;
    }

    .content {
        flex: 0 0 80%;
        max-width: 80%;
    }

    .project {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .nav a {
        flex: 0 0 15%;
        max-width: 15%;
    }

    .contact a {
        flex: 0 0 15%;
        max-width: 15%;
    }

    #transparent-link {
        position: absolute;
        min-width: 1200px;
        min-height: 250px;
    }

}