/*
Styling page for 02-Advanced-CSS-Challenge
Designed to be mobile first and readjust to larger screens
*/
/*Styling for color scheme*/
:root {
    --dark: #247881;
    --medium: #43919B;
    --light: #30AADD;
    --accent: #00FFC6;
}

/*Styling for the overall page*/
body {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

/*Styling for header and footer*/
.header, footer {
    background: linear-gradient(var(--medium) 0%, var(--light) 100%);
    min-height: 150px;
    font-size: 400%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Styling for panel under header*/
.nav {
    background: linear-gradient(var(--dark) 0%, var(--medium) 100%);
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 200%;
}

/*Styling for links in the nav panel*/
.nav a {
    margin: 5px;
    padding: 5px;
    border: solid 5px var(--accent);
    flex: 1 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--medium);
    text-decoration: none;
}

/*Styling to change color of links when hovered over*/
.nav a:hover, .contact a:hover {
    background-color: var(--dark);
}

/*Styling for main section to the left of side panel*/
.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/*Styling for side panel*/
/*Only comes into view if the screen is larger enough*/
.panel {
    display: none;
    background: linear-gradient(var(--accent) 0%, var(--light) 100%);
}

/*Styling for styling for about me section*/
.about-me {
    min-height: 300px;
    margin: 40px;
    padding: 40px;
    border: solid var(--light) 5px;
    background-image: url(../images/water-1.jpg);
    background-size: 100%;
}

/*Styling for Styling for body text in about me*/
.about-me p {
    font-size: 125%;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

/*Styling that produces glow when mouse hovers on sections*/
.about-me:hover,.project-top:hover, .container:hover, .project:hover, .contact:hover {
    box-shadow: inset 0px 0px 8px var(--accent), 0 0 15px var(--accent);
}

/*Styling for highlighted project*/
.project-top {
    min-height: 300px;
    margin: 40px;
    padding: 40px;
    border: solid var(--light) 5px;
    background-image: url("../images/coding-photo-1.jpg");
    background-size: 100%;
}

/*Styling for section containg other projects*/
.container {
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    padding: 20px;
    border: solid var(--light) 5px;
    min-height: fit-content;
    align-content: center;
    justify-content: center;
    background-color: var(--medium);
}

/*Styling for styling for the individual small projects*/
.project {
    flex: 1 0 100%;
    margin: 20px;
    border: solid var(--light) 5px;
    min-height: 200px;
    min-width: 45%;
}

/*Styling for contact section*/
.contact {
    min-height: 300px;
    margin: 40px;
    padding: 40px;
    border: solid var(--light) 5px;
    background-image: url("../images/mail-photo-1.jpg");
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/*Styling for contact links*/
.contact a {
    margin: 5px;
    padding: 5px;
    min-width: fit-content;
    border: solid 5px var(--accent);
    flex: 1 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 200%;
    background-color: var(--medium);
    text-decoration: none;
}

/*Styling for the title at the top of the page*/
#title {
    border: var(--accent) solid 5px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

/*Styling for the title of each section*/
#sub-title {
    max-width: 400px;
    min-height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: var(--dark);
    color: white;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Styling for side portrait*/
#portrait {
    max-width: 200px;
    max-height: 200px;
    border: solid 5px white;
    outline: solid 10px var(--medium);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

/*Sets a seperate background picture for each project*/
#project-1 {
    background-image: url("../images/coding-photo-2.jpg");
    background-size: 100%;
}

#project-2 {
    background-image: url("../images/coding-photo-3.jpg");
    background-size: 100%;
}

#project-3 {
    background-image: url("../images/coding-photo-4.jpg");
    background-size: 100%;
}

#project-4 {
    background-image: url("../images/coding-photo-5.jpg");
    background-size: 100%;
}

/*Sets the size of the link to be larger enough to be clickabe on most of the image*/
#transparent-link {
    position: absolute;
    min-width: 400px;
    min-height: 200px;
}

#transparent-link-small {
    position: absolute;
    min-width: 500px;
    min-height: 125px;
}

/*Resets size of certain elements when screen grows larger*/
@media screen and (min-width: 768px) {
    .about-me p {
        font-size: 125%;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    .project {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .nav a {
        flex: 0 0 40%;
        max-width: 40%;
    }

    .contact a {
        flex: 0 0 15%;
        max-width: 15%;
    }

    #transparent-link {
        position: absolute;
        min-width: 800px;
        min-height: 200px;
    }
}

/*Resets size of certain elements when screen grows larger*/
@media screen and (min-width: 992px) {
    .panel {
        display: flex;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .about-me p {
        font-size: 125%;
        margin-left: 80px;
        margin-right: 80px;
    }

    .content {
        flex: 0 0 80%;
        max-width: 80%;
    }
    

    .project {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .nav a, .contact a {
        flex: 0 0 15%;
        max-width: 15%;
    }

    #transparent-link {
        position: absolute;
        min-width: 1100px;
        min-height: 250px;
    }
}